html,body{
	margin: 0px;
	margin-top: 0px;
	padding: 0px;
	
}

h1{
	color: #801336;
	text-align: center;
	text-transform: uppercase;	
}

.firstin h3{
	color: #63707e;
	font-weight: bold;
	font-size: 25px;
	margin-left: 700px;
}	

.firstin input{
	font-size: 16px;
	border-color: #93b5b3;
	border-radius: 4px;
	height: 35px;
	width: 250px;
	margin-left: 700px;
}

.secondin h3{
	color: #63707e;
	font-weight: bold;
	font-size: 25px;
	margin-left: 700px;
}

.secondin input{
	font-size: 16px;
	border-color: #93b5b3;
	border-radius: 4px;
	height: 35px;
	width: 250px;
	margin-left: 700px;
	margin-bottom: 30px;
}

.button1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 700px;
  margin-bottom: 30px;

}

.button2 {
  background-color: #f44336; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 700px;
  margin-bottom: 30px;
}

.button3 {
  background-color: #555555; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 700px;
  margin-bottom: 30px;
}

.button4 {
  background-color:  #e7e7e7; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 700px;
  margin-bottom: 30px;
}

.res{
	margin-left: 60px;
	font-size: 20px;
	font-weight: bold;
	color: blue;
}